// Là où on déclare les variables

$app-backround-color: rgb(250, 250, 250);
$input-color: #24B998;
$input-color-warn: #f44336;
$font-white: rgba(255, 255, 255, 0.87);
$font-black: rgba(0, 0, 0, 0.87);
$logo-color: #24B998;
$logo-blue-color: #25303B;