@import "globals";

.title-ticket {
  max-width: 949.75px;
  margin: 0 auto;

  h4 {
    display: inline-block;
    margin: 50px 0 0 0;
  }
}

form {
  margin: 2% auto auto auto;

  .title-ticket {
    margin-top: 50px;
    text-align: center;
  }

  .connect-btn {
    margin-left: 25px;
  }

  .btn-row-project {
    margin-top: 20px;
  }

  .label-project {
    width: 35%;
  }

  .btn-action-project {
    width: 20% !important;
  }

  .input-right-prefix {
    .prefix {
      line-height: 2;
      left: calc(100% - 3rem);

      ~ input {
        margin-left: 0;
      }
    }
  }

  select {
    margin-top: 40px;
    display: block;
  }

  .input-date {
    margin-bottom: 10px;
  }

  .post-commentary {
    margin-left: -1% !important;
    button {
      margin: 6.5% 0 0 2% !important;
    }
  }
}