.title-ticket {
  max-width: 949.75px;
  margin: 0 auto; }

.title-ticket h4 {
  display: inline-block;
  margin: 50px 0 0 0; }

.title-ticket a {
  float: right; }

.container-full form {
  width: 800px;
  margin: 0 auto; }
  .container-full form .title-ticket {
    margin-top: 50px;
    text-align: center; }
  .container-full form .connect-btn {
    margin-left: 25px; }
  .container-full form .btn-row-project {
    margin-top: 20px; }
  .container-full form .label-project {
    width: 35%; }
  .container-full form .btn-action-project {
    width: 20% !important; }
  .container-full form .input-right-prefix .prefix {
    line-height: 2;
    left: calc(100% - 3rem); }
    .container-full form .input-right-prefix .prefix ~ input {
      margin-left: 0; }
  .container-full form select {
    margin-top: 40px;
    display: block; }
  .container-full form .input-date {
    margin-bottom: 10px; }
