.projet-titre {
  max-width: 949.75px;
  margin: 0 auto; }
  .projet-titre h4 {
    display: inline-block;
    margin: 50px 0 0 0; }
  .projet-titre a {
    float: right;
    margin-top: 50px; }

.row-cards {
  text-align: center;
  margin: 50px 0 0 0; }

.cards {
  width: auto;
  display: inline-block;
  min-width: 1000px;
  text-align: center; }
  .cards .card-projects {
    width: 32% !important;
    float: none;
    position: relative;
    display: inline-block; }
    .cards .card-projects .card-project {
      padding: 5px 5px 0 5px; }
      .cards .card-projects .card-project div {
        overflow: hidden; }
      .cards .card-projects .card-project .card-project-a {
        display: block;
        padding: 0 0 20px 0; }
    .cards .card-projects p {
      font-style: italic; }
